h1{
    color: rgb(255, 234, 3);
text-align: center;
}
body{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/447/994/344/yugi-moto-yugioh-yami-yugi-hd-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
h2{
    color: rgb(255, 234, 3);

}